<%= turbo_frame_tag dom_id(task) do %>
  <div class="ui grid" data-controller="task" data-task-task-id-value="<%= task.id %>" id="task-<%= task.id %>">
    <div class="four wide column">
      <% task_name_class = task.completed? ? 'crossed' : '' %>
      <span class="task-name <%= task_name_class %>"> 
        <%= task.name %>
      </span>
    </div>

    <div class="four wide column text-align-right">
      <!-- LINE TO EDIT will be processed through turbo frames -->
      <%= link_to 'Edit', edit_task_path(task) %>
    </div>

    <div class="four wide column text-align-right">
      <!-- This toggle related thingys should be in a decorator -->
      <% action = task.completed? ? "Uncomplete" : "Complete" %>
      <%= link_to action, toggle_task_path(task), method: :post %>
    </div>

    <div class="four wide column text-align-right">
      <a href="#" data-task-target="deleteLink" data-action="click->task#onShowDeleteConfirmation">Delete</a>
    </div>
  </div>
<% end %>

