<%= content_for :title, 'Home Page' %>
<%= content_for :description, 'You are home!' %>
<h1>Welcome to Turbo Stimulus Example Project!</h1>

<%= link_to "Go to Projects Page", project_path("6") %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h1>Turbo frames Test</h1>
<%= turbo_frame_tag "my-outer-id" do %>
  This content should not change
  <br>
  <br>
  <%= turbo_frame_tag "my-inner-id" do %>
    <%= link_to "This link should be replaced", frame_test_path %>
  <% end %>
<% end %>

<br>
<br>
<%= turbo_frame_tag "my-inner-id" do %>
  This content is outside the link frame but has the same id. It should not
  be replaced?
<% end %>
