<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Turbo Stimulus Example Project - <%= yield(:title) if content_for?(:title) %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= favicon_link_tag %>
      <%= javascript_pack_tag 'application' %>
      <%= stylesheet_pack_tag 'application' %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://f.wishabi.net/assets/flipp/stylesheets/main_layout.css">
  </head>

  <body id="main_interface">
    <div id="utility-bar">
      <div class="app-display">
        <div>
          <img id="flipp-logo" src="https://f.wishabi.net/assets/flipp/images/logo_white.png" alt="Logo white">
          <div id="app-display-divider"></div>
          <div id="app-name">
            <a href="#">Turbo Stimulus Example Project</a>
          </div>
        </div>
      </div>
    </div>

    <div id="menu-layout">
      <div id="main-content" data-controller="root">
        <% if content_for?(:title) %>
          <h1><%= yield(:title) %>
          <% if content_for?(:description) %>
            <small><%= yield(:description) %></small>
          <% end %>
          </h1>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
